%h3 Contact us

%div{:class => 'col-xs-4 col-sm-4 col-md-4'}
  %h5{:class => 'colorize'} Address
  %ul{:class => 'plain'}
    %li Crown Dental Laboratory
    %li 26533 Grand River Ave.
    %li Redford, MI 48240

%div{:class => 'col-xs-4 col-sm-4 col-md-4'}
  %h5{:class => 'colorize'} Phone
  %ul{:class => 'plain'}
    %li 313-282-5569
    %li 313-534-0433
    %li (fax) 313-534-4670

%div{:class => 'col-xs-4 col-sm-4 col-md-4'}
  %h5{:class => 'colorize'} Email
  %ul{:class => 'plain'}
    %li <a href="#">info@crowndentallaboratory.com</a>
