%div{:class => 'row'}
  %img{:class => 'col-xs-12 col-sm-12 col-md-12 no-pad', :src => 'assets/img/high_quality_dental_work.png',
       :alt => 'high quality crowns and bridges in Metro Detroit'}

%h3 Welcome
%p Crown Dental Laboratory has been serving Wayne County for more than 25 years. We are dedicated to providing  |
you and your patients with high quality restorations and personal service. We will do everything we can to meet |
your expectations. If you have any questions or comments, please feel free to contact us - we'll be happy to    |
help.                                                                                                           |

%p Thanks for visiting us!
