%h3 Literature

%h4{:class => 'colorize'} Our policies and forms

%p Click here for a downloadable Rx form: <a href="#">Rx form.pdf</a>

%p Click here for a downloadable copy of our warranty, remake policy, and terms and conditions: <a href="#">Terms and Conditions.pdf</a>
