%h3 Products & Services

%div{:class => 'col-xs-6 col-sm-6 col-md-6'}
  %h5{:class => 'colorize'} Products
  %ul{:class => 'plain'}
    %li All ceramic restorations
    %li BruxZir
    %li E-max
    %li Full gold crowns
    %li Full gold inlays & onlays
    %li Maryland bridges
    %li Porcelain fused to metal restorations
    %li Pressed to metal restorations
    %li Precision attachments
    %li Veneers
    %li Zirconia restorations

%div{:class => 'col-xs-6 col-sm-6 col-md-6'}
  %h5{:class => 'colorize'} Services
  %ul{:class => 'plain'}
    %li Custom staining
    %li Diagnostic white wax
    %li Identalloy certificates
    %li Partial clasp replication
    %li Post solder
    %li Shade consultations

%div{:class => 'col-xs-12 col-sm-12 col-md-12'}
  %h4{:class => 'colorize'} Turaround times
  %p Times listed are <u>in lab</u>, and do not include weekends or holidays. Plese remember to allow extra time for |
     pick-up and delivery. If you have a rush case, let us know - we will do our best to accomodate you.             |

  %ul{:class => 'plain'}
    %li Porcelain crowns <b class="right">10 days</b>
    %li Porcelain bridges ( 5 units & up) <b class="right">12 days</b>
    %li Full gold crowns <b class="right">6 days</b>

    %div{:class => 'clearfix'}
      %h4{:class => 'colorize'}Delivery

      %p We offer pick-up and delivery through ProMed delivery service and directly through our lab within the local  |
         area.                                                                                                        |

      %p Delivery bags with labels and Rx pads can be supplied upon request. We have created a prescription form for  |
         your convenience <a href="#">here.</a>                                                                       |
